/*
    Dashboard skin template.

    If you want to create your own dashboard skin (or tweak something)
    create a copy of the "/skins/template" directory and rename it
    to something like: "/skins/your_skin_name" and edit config.json file inside.

    See skin tutorial PDF file for more information.

    CSS naming convention:

    - Dashboard core script maps all telemetry data properties to respective class names,
      so truck's speed will be .truck-speed and current gear is .truck-gear (see JSON).
    - All boolean telemetry properties will have a special ".yes" class added
      when the value is true (will be removed if value is false).
    - When dashboard core script updates DOM it will always add
      data-value attribute containing current value, so you
      can use it to have custom css selectors based on the actual data
      (for example, this skin uses .truck-gear[data-value="N"] to define
      different style for neutral or reverse gear, see below).

    For more information go to home page: https://github.com/Funbit/ets2-telemetry-server

*/

body {
  cursor: pointer;
}

/*.dashboard {
	background-image: url("images/bg-off.jpg");
}*/

.dashboard.game-connected.yes {
	width: 100%;
    height: 100%;
}

/* BACKGROUND ELEMENTS */

.bkg-elements{
    position: absolute;
    background-repeat: no-repeat;
    filter: brightness(1);
}

#bkg-layer-1{
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: url("images/png/bkg-layer-1.png");
}

#bkg-layer-0 {
    width: 84.17%;
    height: 55%;
    z-index: 0;
    left: 7.956%;
    top: 18.562%;
    background-image: url("images/png/bkg-layer-0.png");
}

#gauge-center-left{
    width: 7.914%;
    height: 11.55%;
    left: 11.725%;
    top: 49.876%;
    z-index: 7;
    background-image: url("images/png/gauge-center-left.png");
}

#gauge-center-right{
    width: 8.082%;
    height: 11.742%;
    left: 79.899%;
    top: 49.814%;
    z-index: 7;
    background-image: url("images/png/gauge-center-right.png");
}

#gauge-center-shadows{
    width: 78.098%;
    height: 14.462%;
    left: 11.348%;
    top: 48.084%;
    z-index: 6;
    background-image: url("images/png/gauge-center-shadows.png");
}

._speed {
    visibility: hidden;
}

/* hide speed when not connected to the simulator */

.game-connected.yes ._speed {
    visibility: visible;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 300px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 1152px;
}

.truck-speedMph[data-type="meter"] {
    visibility: visible;
    position: absolute;
    left: 83.417%;
    top: 37.5%;
    width: 26px;
    height: 292px;
    z-index: 5 ;
    /*background-image: url("images/svg/arrow-big-right.svg");*/
    -webkit-transform: rotate(-107.5deg);
    -moz-transform: rotate(-107.5deg);
    -ms-transform: rotate(-107.5deg);
    -o-transform: rotate(-107.5deg);
    transform: rotate(-107.5deg);
    -webkit-transform-origin: 50% 292px;
    -moz-transform-origin: 50% 292px;
    -ms-transform-origin: 50% 292px;
    -o-transform-origin: 50% 292px;
    transform-origin: 50% 292px;
}

.truck-engineRpm {
    position: absolute;
    left: 15.196%;
    top: 37.5%;
    width: 26px;
    height: 292px;
    z-index: 5;
    /*background-image: url("images/svg/arrow-big-left.svg");*/
    -webkit-transform: rotate(-107.5deg);
    -moz-transform: rotate(-107.5deg);
    -ms-transform: rotate(-107.5deg);
    -o-transform: rotate(-107.5deg);
    transform: rotate(-107.5deg);
    -webkit-transform-origin: 50% 292px;
    -moz-transform-origin: 50% 292px;
    -ms-transform-origin: 50% 292px;
    -o-transform-origin: 50% 292px;
    transform-origin: 50% 292px;
}

.gauges-small{
    /*background-image: url("images/svg/arrow-small.svg");*/
    fill: #ff0000;
}

/* GAUGES TOP */

.truck-waterTemperature {
    position: absolute;
    left: 24.12%;
    top: 26%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

.truck-airPressure {
    position: absolute;
    left: 41.038%;
    top: 26%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

#truck-airPressure2 {
    position: absolute;
    left: 57.956%;
    top: 26%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

.truck-fuel {
    position: absolute;
    left: 74.874%;
    top: 26%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

/* GAUGES BOTTOM */

.truck-oilPressure {
    position: absolute;
    left: 16.792%;
    top: 65.367%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

.truck-adblue {
    position: absolute;
    left: 82.914%;
    top: 65.367%;
    width: 12px;
    height: 135px;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 50% 135px;
    -moz-transform-origin: 50% 135px;
    -ms-transform-origin: 50% 135px;
    -o-transform-origin: 50% 135px;
    transform-origin: 50% 135px;
}

/* GAUGES */

#gauge-rmp-1 #gauge-speed-1 #gauge-oil-pressure #gauge-adblue #gauge-water-temperature #gauge-air-pressure #gauge-air-pressure-2 #gauge-fuel{
    fill: #ff0000;
}

#gauge-rpm-2 #gauge-speed-2{
    fill: #ff3636;
}

/* SCALES */

#scales-1{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("images/SVG/scales-1.svg");
}

#scales-2{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-image: url("images/SVG/scales-2.svg");
}

#scales-3{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-image: url("images/SVG/scales-3.svg");
}

.truck-electricOn{
    position: absolute;
    visibility: hidden;
    width: 28.224%;
    height: 25.03%;
    left: 35.678%;
    top: 43.757%;
    z-index: 0;
    background-image: url("images/png/dash-computer.png");
    background-size: 100% 100%;
}

.truck-electricOn.yes{
    visibility: visible;
}

.debug-span{
    position: relative;
    text-align: center;
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    z-index: 3;
    color: gray;
}

#brightValue{
    width: 23.145%;
    height: 9.135%;
    left: 69%;
    top:95%;
}

#hour{
    width: 23.145%;
    height: 9.135%;
    left:21%;
    top:95%;
}

.truck-speedRounded {
    position: absolute;
    width: 30%;
    height: 90px;
    left: 35%;
    top: 33.5%;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 9em;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.game-connected.yes .statusMessage {
    visibility: hidden;
}

.statusMessage {
    font-size: 70px;
    text-align: center;
    line-height: 1152px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: orange;
}

#icons-1{
    position: absolute;
    display: flex;
    width: 45.686%;
    height: 5.006%;
    top: 34.61%;
    left: 26.716%;
    z-index: 8;
}

#icons-2{
    position: absolute;
    display: flex;
    color: #00bdff;
    width: 49.455%;
    height: 3.708%;
    top: 74.042%;
    left: 25.272%;
    z-index: 8;
}

.icons-1-outer-icons{
    /*border: 1px solid white;*/
}

table{
    width: 100%;
    /*border:1px solid orange;*/
}

#icons-1 tr{
    height: 80px;
}

#icons-2 tr{
    height:60px;
}

.truck-parkBrakeOn.yes{
    background-image: url("images/SVG/park-on.svg");
}

.truck-blinkerRightOn.yes{
    background-image: url("images/SVG/blinker-right.svg");
}

.truck-blinkerLeftOn.yes{
    background-image: url("images/SVG/blinker-left.svg");
}

.truck-lightsBeamHighOn.yes{
    background-image: url("images/SVG/lights-beam-high.svg");
}

.truck-cruiseControlOn.yes{
    background-image: url("images/SVG/cruise-control.svg");
}

.truck-batteryVoltageWarningOn.yes{
    background-image: url("images/SVG/battery-voltage-warning.svg");
}

.truck-motorBrakeOn.yes{
    position: absolute;
    width: 3.978%;
    height: 3.708%;
    left: 28.371%;
    top: 69.221%;
    z-index: 8;
    background-image: url("images/SVG/motor-brake.svg");
}

.warning-lights{
    position: absolute;

    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
    border: 1px solid red;
}

.truck-waterTemperatureWarningOn.yes{
    background-color: #db3b39;
    left: 17.483%;
    top: 27.472%;
}

.truck-airPressureWarningOn.yes{
    background-color: #db3b39;
    left: 34.191%;
    top: 27.472%;
}

.truck-airPressureWarningOn.yes:nth-of-type(2n){
    background-color: #db3b39;
    left: 51.193%;
    top: 27.472%;
}

.truck-fuelWarningOn.yes{
    background-color: #d89600;
    left: 68.278%;
    top: 27.472%;
}

.truck-oilPressureWarningOn.yes{
    background-color: #db3b39;
    left: 23.073%;
    top: 66.687%;
}

.truck-adblueWarningOn.yes{
    background-color: #d89600;
    left: 76.402%;
    top: 66.687%;
}

#gear-modes{
    position: absolute;
    display: grid;
    left: 2.373%;
    top: 25.5%;
    width: 4%;
    height: 53%;
}

.gear-mode{
    margin-top: 20%;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    font-weight: 700;
    /*color: #7190bd;*/
}

.truck-gear{
    color: white;
    display: block;
    width: 11%;
    margin-left: 11%;
    margin-top: 52%;
}

#cruise-control{
    position: absolute;
    visibility: hidden;
    width: 17.655%;
    height: 13.592%;
    left: 67.359%;
    top: 83.827%;
    background-image: url("images/png/cruise-control-truck.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

#cruise-control-speed{
    color: white;
    font-family: "Arial", sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    margin-left: 21%;
}

#page1{
    display: flex;
}